<ion-header>
  <ion-toolbar>
    <ion-title>Pokeview</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonsWithData">
      <ion-avatar slot="start">
        <img [src]="pokemon.sprites.front_default" style="background: grey; object-fit: contain;" />
      </ion-avatar>
      <ion-label>{{pokemon.name | capitalize}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onScrollEnd($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>